<div class="app-footer">
  <div class="row">
    <div class="col-md-9">
      <p><strong>Gala&bull;xe</strong> - Thanks to special agreements with the major car manufacturer, our fleet is among the youngest on the market. Now it's even richer and tech-oriented, with a wide range of commercial vans and the digital offer "GXEFAST".</p>
    </div>
  </div>
  <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
    <a class="btn btn-primary text-white btn-rounded mb-3 mb-sm-0 mr-0 mr-sm-3" href="#">Gala&bull;xe</a>
    <a class="btn btn-warning btn-rounded mb-3 mb-sm-0" href="#">Our opinions</a>

    <span class="flex-grow-1"></span>
    <div class="d-flex align-items-center">
      <img class="logo mr-3" src="./assets/images/GXE_logo.svg" alt="">
      <div>
        <p class="m-0">&copy; 2019 Gala&bull;xe - Spaceship rental</p>
        <p class="m-0">All rights reserved</p>
      </div>
    </div>
  </div>
</div>
