<div class="view jarallax headline-section">
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-4 text-white text-center">
          <h1 class="h1-reponsive text-white text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>Welcome to Gala&bull;xe</strong></h1>
          <hr class="hr-light my-4">
          <h5 class="text-uppercase mb-4 text-white" data-wow-delay="0.4s"><strong>spaceships rental all across Universe</strong></h5>
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle><span class="tab-title text-uppercase font-weight-bold"><i class="i-Plane mr-1"></i> Spaceships</span></ng-template>
              <ng-template ngbTabContent>
                <div class="row d-flex">
                  <div class="col-sm-12 col-md-6">
                    <input type="text" placeholder="Type here" class="search-input form-control" [formControl]="searchCtrl" autofocus>
                  </div>
                  <div class="col-sm-12 col-md-3">
                    <p class="text-primary">wefewfew</p>
                  </div>
                  <div class="col-sm-12 col-md-3">
                    <p class="text-primary">wefewfew</p>
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-check float-left">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                               value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                          First radio
                        </label>
                      </div>
                      <div class="form-check float-left">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                               value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          Second radio
                        </label>
                      </div>
                      <div class="form-check float-left">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                               value="option3" disabled>
                        <label class="form-check-label" for="gridRadios3">
                          Third disabled radio
                        </label>
                      </div>
                      <button type="button" class="btn btn-lg btn-primary float-right m-1">Continue</button>
                    </div>
                  </div>
                </fieldset>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><span class="tab-title text-uppercase font-weight-bold"><i class="i-Jet mr-1"></i> Premium</span></ng-template>
              <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                squid.
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                  farm-to-table
                  craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                  vinyl
                  cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
                  salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
                  jean
                  shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                  vero
                  sint qui sapiente accusamus tattooed echo park.</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><span class="tab-title text-uppercase font-weight-bold"><i class="i-Stopwatch-2 mr-1"></i> GXEFAST</span></ng-template>
              <ng-template ngbTabContent>
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                  facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                  congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                  et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                  faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
                  varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac
                  lorem
                  aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row wide-container mt-4 mb-4">
  <div class="col-6">
    <button class="btn btn-sm btn-rounded btn-outline-light btn-svg mr-2" [ngClass]="{active: viewMode === 'grid'}" (click)="viewMode = 'grid'">
      <svg version="1.1" width="16px" id="grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 369.946 369.946" style="enable-background:new 0 0 369.946 369.946;" xml:space="preserve">
        <path d="M250.609,0h-11.934H131.271h-11.934H0v119.337v11.934v107.404v11.934v119.337h119.337h11.934
            h107.404h11.934h119.337V250.609v-11.934V131.271v-11.934V0H250.609z M238.675,11.934v107.404H131.271V11.934H238.675z
             M238.675,131.271v107.404H131.271V131.271H238.675z M11.934,11.934h107.404v107.404H11.934V11.934z M11.934,131.271h107.404
            v107.404H11.934V131.271z M11.934,358.012V250.609h107.404v107.404H11.934z M131.271,358.012V250.609h107.404v107.404H131.271z
             M358.012,358.012H250.609V250.609h107.404V358.012z M358.012,238.675H250.609V131.271h107.404V238.675z M250.609,119.337V11.934
            h107.404v107.404H250.609z" />
      </svg>
    </button>
    <button class="btn btn-sm btn-rounded btn-outline-light btn-svg" [ngClass]="{active: viewMode === 'list'}" (click)="viewMode = 'list'">
      <svg version="1.1" id="list" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" width="16px" height="16px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
        <path d="M0,97.92v24.48h612V97.92H0z M0,318.24h612v-24.48H0V318.24z M0,514.08h612V489.6H0V514.08z" />
      </svg>
    </button>
  </div>
</div>

<!-- DATA LIST -->
<div class="row wide-container" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
  <!-- SINGLE LIST ITEM -->
  <div *ngFor="let item of spaceships$ | async | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
       class="list-item"
       [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
       [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}"
  >
    <div class="card o-hidden mb-4 d-flex" [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
      <div class="list-thumb d-flex">
        <!-- TUMBNAIL -->
        <img [src]="item.photo" alt="">
      </div>
      <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
             [ngClass]="{'flex-lg-row': viewMode === 'list'}">
          <!-- OTHER DATA -->
          <a href="" class="w-40 w-sm-100">
            <div class="item-title">{{item.name}}</div>
          </a>
          <p class="m-0 text-muted text-small w-15 w-sm-100">{{item.category}}</p>
          <p class="m-0 text-muted text-small w-15 w-sm-100">
            {{item?.price?.sale | currency:'PLN'}}
            <del class="text-secondary">{{item?.price?.previous | currency:'PLN'}}</del>
          </p>
          <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
            <span class="badge badge-{{item?.badge?.color}}">{{item?.badge?.text}}</span>
          </p>
          <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-actions">
            <button class="btn btn-icon bg-transparent"
                    [ngClass]="{'d-none': viewMode === 'grid'}">
              <i class="i-File-Edit text-16 text-primary"></i>
            </button>
          </p>
        </div>
        <div class="align-self-center pl-3 pb-2 pr-3 item-select">
          <label class="checkbox checkbox-outline-light">
            <input type="checkbox" [(ngModel)]="item.isSelected">
            <span></span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- PAGINATION CONTROL -->
  <div class="col-md-12 mt-3" *ngIf="spaceships?.length">
    <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>
