<ngb-alert class="alert alert-danger my-2 m-4">
  <strong>It's busy in {{queryParams.planetPickup}} on your dates, prices are likely to rise. </strong>
  <span class="text-dark">Tip: Don't wait until it's too late! Book now so you don't miss out on today's price.</span>
</ngb-alert>
<section class="d-flex flex-column align-items-center" *ngIf="spaceship">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" [@animate]="{value:'*',params:{delay: '300ms', y:'50px'}}">
        <div class="card card-ecommerce-3 o-hidden m-2"
             [ngClass]="{'economy' : spaceship.category.economy, 'compact' : spaceship.category.compact, 'premium' : spaceship.category.premium, 'gxefast' : spaceship.category.gxefast}">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 p-0">
              <ngb-carousel *ngIf="spaceship.gallery">
                <ng-template ngbSlide>
                  <img [src]="spaceship.gallery[0]" alt="">
                </ng-template>
                <ng-template ngbSlide>
                  <img [src]="spaceship.gallery[1]" alt="">
                </ng-template>
              </ngb-carousel>
              <div class="gallery_categories">
              <span *ngIf="spaceship.category.economy"
                    class="text-small text-muted text-uppercase chip chip-item my-2 economy">economy</span>
                <span *ngIf="spaceship.category.compact"
                      class="text-small text-muted text-uppercase chip chip-item my-2 compact">compact</span>
                <span *ngIf="spaceship.category.premium"
                      class="text-small text-muted text-uppercase chip chip-item my-2 premium">premium</span>
                <span *ngIf="spaceship.category.gxefast"
                      class="text-small text-muted text-uppercase chip chip-item my-2 gxefast">gxefast</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 p-2">
              <div class="row p-4">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <h4 class="m-0 font-weight-bold text-muted">{{spaceship.name}}
                        <small class="text-muted font-weight-light">or similar</small>
                      </h4>
                    </div>
                    <div class="col-6">
                      <div class="card-price float-right">
                        <small class="float-right mt-2 ml-1">per day</small>
                        <p class="m-0 float-right"><strong>{{spaceship?.price?.sale | currency:'EUR'}} </strong>
                          <del>
                            <small>{{spaceship?.price?.previous | currency:'EUR'}}</small>
                          </del>
                        </p>
                        <br>
                        <small *ngIf="queryParams.rentalRange > 1" class="text-muted float-right"><span
                          class="badge badge-{{spaceship?.badge?.color}} mr-2">
                        {{spaceship?.badge?.text}}</span>{{spaceship?.price?.sale * queryParams.rentalRange | currency:'EUR'}} total for
                          {{queryParams.rentalRange}} days
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-6" *ngFor="let feature of spaceship.features">
                      <i class="icon-regular i-{{feature?.icon}}"></i> {{feature?.text}}
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-8">
                      <p>{{spaceship.description}}</p>
                    </div>
                    <div class="col-4 d-flex flex-column">
                      <h6 *ngIf="extras.length" class="text-uppercase mt-2 text-primary">Selected extras</h6>
                      <div>
                        <p *ngFor="let extra of extras" class="text-left mb-1">{{extra}}</p>
                      </div>
                      <btn-loading
                        (click)="bookAndPay()" [loading]="loading"
                        class="btn btn-primary btn-lg float-right mt-auto" [disabled]="loading"
                        [ngClass]="{'economy' : spaceship.category.economy, 'compact' : spaceship.category.compact,
                    'premium' : spaceship.category.premium, 'gxefast' : spaceship.category.gxefast}">
                        Book & Pay now
                      </btn-loading>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" [@animate]="{value:'*',params:{delay: '300ms', y:'50px'}}">
        <div class="card card-ecommerce-3 o-hidden m-2 pr-4">
          <div class="card-body">
            <div class="card-title">Extras</div>
            <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
              <i class="icon-regular i-Calendar-4"></i>
              <div class="flex-grow-1 ml-4">
                <h6 class="m-0">Additional Driver <span class="text-info">10,00 € each per day</span></h6>
                <p class="m-0 text-small text-muted">Share the driving: journeys are always better when you can take turns at the wheel</p>
              </div>
              <div>
                <button *ngIf="!extras.includes('Additional Driver')" class="btn btn-outline-primary btn-rounded btn-lg" (click)="addExtra('Additional Driver')">Add</button>
                <button *ngIf="extras.includes('Additional Driver')" class="btn btn-outline-danger btn-rounded btn-lg" (click)="removeExtra('Additional Driver')">Remove</button>
              </div>
            </div>
            <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
              <i class="icon-regular i-Calendar-4"></i>
              <div class="flex-grow-1 ml-4">
                <h6 class="m-0">Baby Seat <span class="text-info">48,12 € each per rental</span></h6>
                <p class="m-0 text-small text-muted">Recommended for children weighing under 20 lbs / 9kg (Birth to approx 1-12 months)</p>
              </div>
              <div>
                <button *ngIf="!extras.includes('Baby seat')" class="btn btn-outline-primary btn-rounded btn-lg" (click)="addExtra('Baby seat')">Add</button>
                <button *ngIf="extras.includes('Baby seat')" class="btn btn-outline-danger btn-rounded btn-lg" (click)="removeExtra('Baby seat')">Remove</button>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <i class="icon-regular i-Calendar-4"></i>
              <div class="flex-grow-1 ml-4">
                <h6 class="m-0">GPS <span class="text-info">5,00 € per day</span></h6>
                <p class="m-0 text-small text-muted">Satellite navigation system provides turn-by-turn directions</p>
              </div>
              <div>
                <button *ngIf="!extras.includes('GPS')" class="btn btn-outline-primary btn-rounded btn-lg" (click)="addExtra('GPS')">Add</button>
                <button *ngIf="extras.includes('GPS')" class="btn btn-outline-danger btn-rounded btn-lg" (click)="removeExtra('GPS')">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
