.app-footer {
  background: $gray-100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 2rem 2rem 0;
  padding: 1.5rem;
  .footer-bottom {
    width: 100%;
    .logo {
      width: 3rem;
      height: auto;
      margin: 4px;
    }
  }
}
